<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Network" connectionString="server=ORANGE;database=VideoGamesDB;Encrypt=false;UID=palmer;password=palmer"/>
        <add name="Local" connectionString="server=localhost;database=VideoGamesDB;Encrypt=false;UID=palmer;password=palmer"/>
    </connectionStrings>
</configuration>