<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Network" connectionString="server=[SERVER];database=[DATABASE];Encrypt=false;UID=[UID];password=[PASSWORD]"/>
        <add name="Local" connectionString="server=[SERVER];database=[DATABASE];Encrypt=false;UID=[UID];password=[PASSWORD]"/>
    </connectionStrings>
</configuration>